function Vint.new 1
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 0
push constant 1
pop this 1
push this 1
call Array.new 1
pop this 2
goto IF_END0
label IF_FALSE0
push constant 0
pop this 0
push constant 1
pop local 0
label WHILE_EXP0
push local 0
push argument 0
lt
not
if-goto WHILE_END0
push local 0
push constant 2
call Math.multiply 2
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
pop this 1
push this 1
call Array.new 1
pop this 2
label IF_END0
push pointer 0
return
function Vint.push_back 2
push argument 0
pop pointer 0
push this 0
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push constant 1
add
pop this 0
push this 0
push this 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 2
call Math.multiply 2
pop this 1
push constant 0
pop local 1
push this 1
call Array.new 1
pop local 0
label WHILE_EXP0
push local 1
push this 0
lt
not
if-goto WHILE_END0
push local 1
push local 0
add
push local 1
push this 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push this 2
call Array.dispose 1
pop temp 0
push this 1
call Array.new 1
pop this 2
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 0
lt
not
if-goto WHILE_END1
push local 1
push this 2
add
push local 1
push local 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
call Array.dispose 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Vint.set 0
push argument 0
pop pointer 0
push argument 2
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Vint.get 0
push argument 0
pop pointer 0
push argument 1
push this 2
add
pop pointer 1
push that 0
return
function Vint.len 0
push argument 0
pop pointer 0
push this 1
return
function Vint.size 0
push argument 0
pop pointer 0
push this 0
return
function Vint.resize 2
push argument 0
pop pointer 0
push constant 1
pop local 1
label WHILE_EXP0
push argument 1
push constant 0
gt
not
if-goto WHILE_END0
push local 1
push constant 2
call Math.multiply 2
pop local 1
push argument 1
push constant 1
sub
pop argument 1
goto WHILE_EXP0
label WHILE_END0
push local 1
push this 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
pop this 0
push local 1
push constant 2
call Math.multiply 2
pop this 1
goto IF_END0
label IF_FALSE0
push local 1
pop this 1
label IF_END0
push local 1
call Array.new 1
pop local 0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 0
lt
not
if-goto WHILE_END1
push local 1
push local 0
add
push local 1
push this 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push this 2
call Array.dispose 1
pop temp 0
push this 1
call Array.new 1
pop this 2
push constant 0
pop local 1
label WHILE_EXP2
push local 1
push this 0
lt
not
if-goto WHILE_END2
push local 1
push this 2
add
push local 1
push local 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push local 0
call Array.dispose 1
pop temp 0
push constant 0
return
function Vint.getArr 0
push argument 0
pop pointer 0
push this 2
return
function Vint.is_eq 5
push argument 0
call Vint.len 1
pop local 1
push argument 1
call Vint.len 1
pop local 2
push argument 0
call Vint.getArr 1
pop local 3
push argument 1
call Vint.getArr 1
pop local 4
push local 1
push local 2
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push local 0
push local 3
add
pop pointer 1
push that 0
push local 0
push local 4
add
pop pointer 1
push that 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 3
call Array.dispose 1
pop temp 0
push local 4
call Array.dispose 1
pop temp 0
push constant 0
not
return
function Vint.elems 7
push argument 0
call Vint.len 1
pop local 2
push argument 1
call Vint.len 1
pop local 3
push argument 0
call Vint.getArr 1
pop local 4
push argument 1
call Vint.getArr 1
pop local 5
push constant 0
pop local 6
push local 2
push local 3
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
label WHILE_EXP0
push local 0
push local 2
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push local 2
lt
not
if-goto WHILE_END1
push local 0
push local 4
add
pop pointer 1
push that 0
push local 1
push local 5
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 6
label IF_FALSE1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 6
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push constant 0
pop local 6
push local 0
push constant 1
add
pop local 0
push constant 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 4
call Array.dispose 1
pop temp 0
push local 5
call Array.dispose 1
pop temp 0
push constant 0
not
return
function Vint.print 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 0
lt
not
if-goto WHILE_END0
push local 0
push this 2
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
call String.newLine 0
call Output.printChar 1
pop temp 0
push constant 0
return
